.database-info {
    display: grid;
    justify-self: center;
    grid-template-columns: auto auto auto auto;
    gap: 1rem;
}

.connection-key {
    justify-self: end;
    font-weight: bold;
    align-self: center;
}
.connection-value {
    justify-self: start;
    align-self: center;
}
.loading-spinner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}