<form class="password-form" [formGroup]="editPasswordForm" (ngSubmit)="updatePassword()">
    <div>
        <p-floatlabel variant="on">
            <p-password fluid id="current-password" formControlName="currentPassword" [feedback]="false" [toggleMask]="true"></p-password>
            <label for="current-password">Current password</label>
        </p-floatlabel>
        <p-message variant="simple" size="small" severity="info">Required</p-message>
    </div>
    <div>
        <p-floatlabel variant="on">
            <p-password autocomplete="off" appendTo="body" id="new-password" [toggleMask]="true" formControlName="password" weakLabel="Invalid" mediumLabel="Invalid" fluid strongRegex="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9]).{8,}$" strongLabel="Valid">
                <ng-template #footer>
                    <ul>
                        <li>8 characters or more</li>
                        <li>One digit</li>
                        <li>One lowercase letter</li>
                        <li>One uppercase letter</li>
                        <li>One non-alphanumeric character</li>
                    </ul>
                </ng-template>
            </p-password>
            <label for="new-password">New password</label>
        </p-floatlabel>
        <p-message variant="simple" size="small" severity="info">Required</p-message>
    </div>
    <div>
        <p-floatlabel variant="on">
            <p-password autocomplete="off" appendTo="body" id="confirm-password" [feedback]="false" [toggleMask]="true" formControlName="confirmPassword" weakLabel="Invalid" mediumLabel="Invalid" fluid strongRegex="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9]).{8,}$" strongLabel="Valid">            </p-password>
            <label for="confirm-password">Confirm password</label>
        </p-floatlabel>
        <p-message variant="simple" size="small" severity="info">Required</p-message>
    </div>
    <app-form-control-error [formControlInput]="editPasswordForm" [customMessage]="[{ key:'passwordMismatch', message:'Passwords do not match'}]"></app-form-control-error>
    <p-button type="submit" label="Update" [disabled]="editPasswordForm.invalid"></p-button>
</form>