:host {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}
.view-header {
    display: flex;
    gap: 1rem;
}
.guards-dataview {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.loading-container {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}