<p-confirmpopup></p-confirmpopup>
<p-toast key="test-db-toast" position="bottom-right"></p-toast>
<div class="cards">
    <p-card>
        <ng-template #header>
            <div class="card-header">
                <h2>Database connection info</h2>
                @if (authService.hasRoles(['Admin'])) {
                    <p-buttongroup>
                        <p-button (onClick)="testDatabaseConnection()" label="Check connection" [text]="true" severity="contrast" icon="pi pi-play" pTooltip="Check the health of the database connection"></p-button>
                        <p-button (onClick)="editDbConnection()" label="Edit connection" icon="pi pi-pencil" [rounded]="true" [text]="true"></p-button>
                        <p-button (onClick)="onDeleteConnection($event)" label="Delete connection" icon="pi pi-trash" [rounded]="true" [text]="true" severity="danger"></p-button>
                    </p-buttongroup>
                }
            </div>
        </ng-template>

        <app-db-connection-detail-pane [databaseConnectionId]="dbConnectionId()!"></app-db-connection-detail-pane>
    </p-card>
    <p-card header="Guards with database connection">
        <app-guards-detail-table [dbConnectionId]="dbConnectionId()!"></app-guards-detail-table>
    </p-card>
</div>