<div class="provider-form">
    <p-floatlabel variant="on" style="margin-bottom: 1rem;">
        <p-select appendTo="body" [options]="providers" [formControl]="notificationProviderType" id="provider-type" fluid></p-select>
        <label for="provider-type">Provider type</label>
    </p-floatlabel>
    <!-- Email -->
    @if (notificationProviderType.value == 0) {
        <app-email-provider-form [emailProviderToEdit]="emailProviderToEdit()" (createEmailProvider)="saveProvider($event)"></app-email-provider-form>
    }
    <!-- Text -->
    @else if(notificationProviderType.value == 1) {

    }
</div>