<div class="provider-form">
    <p-floatlabel variant="on" style="margin-bottom: 1rem;">
        <p-select appendTo="body" [options]="providers" [formControl]="notificationProviderType" id="provider-type" fluid></p-select>
        <label for="provider-type">Provider type</label>
    </p-floatlabel>
    @switch(notificationProviderType.value){
        @case(notificationTypes.Email){
            <app-email-provider-form [savingProvider]="savingNotificationProvider()" [emailProviderToEdit]="emailProviderToEdit()" (createEmailProvider)="saveProvider($event)"></app-email-provider-form>
        }
        @case (notificationTypes.Http) {
            <p-message>You do not need to configure http providers here. Just use it in notifications.</p-message>
        }
    }
</div>