<p-card header="Create notifications">
    <div>
        <p-inputgroup>
            <p-floatlabel variant="on">
                <p-select fluid id="notification-provider" [options]="notificationProviders()"
                    [formControl]="notificationProvider" appendTo="body">
                    <ng-template #selectedItem let-selectedOption>
                        @if(isEmailProvider(selectedOption)){
                            <div class="provider-item">
                                <p-tag style="margin-bottom: 1rem;" value="Email provider" [rounded]="true"></p-tag>
                                <ul>
                                    <li><strong>Id:</strong>{{ selectedOption.id }}</li>
                                    <li><strong>Username:</strong>{{ selectedOption.username }}</li>
                                    <li><strong>SMTP Server:</strong>{{ selectedOption.smtpServer }}</li>
                                    <li><strong>Port:</strong>{{ selectedOption.port }}</li>

                                </ul>
                            </div>
                        }
                        @else if(isTextProvider(selectedOption)){
                            <div class="provider-item">
                                <p-tag style="margin-bottom: 1rem;" value="Text provider" [rounded]="true"></p-tag>
                                <ul>
                                    <li><strong>Id:</strong>{{ selectedOption.id }}</li>
                                    <li><strong>Username:</strong>{{ selectedOption.phoneNumber }}</li>

                                </ul>
                            </div>
                        }
                    </ng-template>
                    <ng-template #item let-provider>
                        @if(isEmailProvider(provider)){
                        <div class="provider-item">
                            <p-tag style="margin-bottom: 1rem;" value="Email provider" [rounded]="true"></p-tag>
                            <ul>
                                <li><strong>Id:</strong>{{ provider.id }}</li>
                                <li><strong>Username:</strong>{{ provider.username }}</li>
                                <li><strong>SMTP Server:</strong>{{ provider.smtpServer }}</li>
                                <li><strong>Port:</strong>{{ provider.port }}</li>

                            </ul>
                        </div>
                        }
                        @else if(isTextProvider(provider)){
                            <div class="provider-item">
                                <p-tag style="margin-bottom: 1rem;" value="Text provider" [rounded]="true"></p-tag>
                                <ul>
                                    <li><strong>Id:</strong>{{ provider.id }}</li>
                                    <li><strong>Username:</strong>{{ provider.phoneNumber }}</li>

                                </ul>
                            </div>
                        }
                    </ng-template>
                </p-select>
                <label for="notification-provider">Notification provider</label>
            </p-floatlabel> 
            <p-inputgroup-addon>
                <p-button pTooltip="Create notification provider" icon="pi pi-plus" [text]="true"></p-button>
            </p-inputgroup-addon>           
        </p-inputgroup>
    </div>
    <div>
        @if (notificationProvider.value) {
            <p-card header="Notification info">
                            <!-- Email -->
            @if (notificationProvider.value.notificationType === 0) {
                <form [formGroup]="emailNotificationFormGroup">
                    <p-listbox class="emails-list" emptyMessage="No emails added">

                    </p-listbox>
                    <div class="email-input">
                        <form [formGroup]="emailAddressInput">
                            <p-inputgroup>
                                <p-floatlabel variant="on">
                                    <label for="emails">Emails</label>
                                    <input id="emails" type="text" pInputText fluid formControlName="emailAddress">
                                </p-floatlabel>
                                <p-inputgroup-addon>
                                    <p-select [options]="['to', 'cc', 'bcc']" formControlName="emailType"></p-select>
                                </p-inputgroup-addon>
                                <p-inputgroup-addon>
                                    <p-button (onClick)="addEmailAddress()" icon="pi pi-plus" [text]="true" pTooltip="Add email" [disabled]="emailAddressInput.invalid"></p-button>
                                </p-inputgroup-addon>
                            </p-inputgroup>
                        </form>
                    </div>
                    <div>
                        <p-floatlabel variant="on">
                            <label for="email-subject">Subject</label>
                            <input id="email-subject" type="text" fluid pInputText/>
                        </p-floatlabel>
                    </div>
                </form>
            }
            @else if (notificationProvider.value) {
                <p>Phone number</p>
                <p>Text</p>
            }
            </p-card>

        }

    </div>
</p-card>