<div class="cards">
    <p-card header="User settings">
        <app-edit-self></app-edit-self>
    </p-card>
    <p-card header="Other settings">
        <div class="other-settings">
            <p-button [rounded]="true" [outlined]="true" label="Toggle dark mode"
                (onClick)="toggleDarkMode()"></p-button>
            <div style="display: flex; flex-direction: column;">
                <label>Current consent: <p-tag [value]="analyticsService.consentStatus() ? 'Granted' : 'Denied'" [severity]="analyticsService.consentStatus() ? 'success' : 'danger'"></p-tag></label>
                <p-button appTrackClick eventName="analytics_consent_dialog_click" (onClick)="analyticsService.getConsent()" label="Show consent banner"></p-button>
            </div>
        </div>
    </p-card>
</div>