<div class="data-table">
    <p-table 
    class="preview-table"
    #previewTable
    [lazy]="true"
    [lazyLoadOnInit]="true"
    (onLazyLoad)="loadTableData($event)"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="{totalRecords} records across {totalPages} pages"
    [scrollable]="true"
    [value]="dataItems()"
    [showGridlines]="true"
    [resizableColumns]="true"
    sortMode="multiple"
    columnResizeMode="expand"
    [multiSortMeta]="defaultSort"
    [paginator]="true"
    [rows]="pageSize()"
    [rowsPerPageOptions]="pageSizeOptions"
    [stripedRows]="true"
    paginatorDropdownAppendTo="body"
    [totalRecords]="totalItems()"
    dataKey="id"
>
    <ng-template #caption>
        <h2>Guard change transactions</h2>
    </ng-template>
    <ng-template #header>
        <tr>
            <th>#</th>
            @for (column of columns; track $index) {
                @if (column.sortable) {
                <th
                pResizableColumn
                [pSortableColumn]="column.field"
                class="custom-view-header"
                >
                <div class="table-header-cell">
                    {{ column.header }}<p-sortIcon [field]="column.field" />
                </div>
                </th>
                }
                @else {
                    <th pResizableColumn class="custom-view-header">
                        <div class="table-header-cell">{{ column.header }}</div>
                    </th>
                }
            }
        </tr>
    </ng-template>
    <ng-template #body let-change let-rowIndex="rowIndex">
        <tr>
            <td>{{ rowIndex + 1 }}</td>
            <td>{{ change.id }}</td>
            <td>{{ change.timestamp | date: 'MM/dd/yyyy hh:mm:ss a' }}</td>
            <td>{{ change.guardId ?? 'NULL' }}</td>
            <td>{{ getEnumLabel(guardState, change.guardState) }}</td>
            <td>{{ getEnumLabel(guardState, change.previousGuardState) }}</td>
            <td>{{ change.guardQuery }}</td>
            <td>{{ formatEnumKey(getEnumLabel(guardOperator, change.guardOperator)) }}</td>
            <td>{{ change.guardValue }}</td>
            <td><a href="">{{ change.databaseConnectionId }}</a></td>
            <td>{{ change.databaseConnectionEndpoint }}</td>
            <td>{{ change.databaseName }}</td>
            <td>{{ getEnumLabel(databaseEngine, change.databaseConnectionEngine) }}</td>
            <td>{{ change.databaseConnectionUsername }}</td>
            <td>{{ change.resultValue }}</td>
        </tr>
    </ng-template>
</p-table>
</div>