@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import "primeicons/primeicons.css";

:root {
  --font-family: 'Roboto', sans-serif;
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: var(--font-family);
}

.guards-dataview .p-dataview-content {
    height: 100%;
    flex-grow: 1;
    overflow: auto;
}
.data-table {
    height: 100%;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}
.card-header {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    padding-bottom: 0;
}
.p-menu-item-label {
  text-wrap: nowrap;
}
.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .5rem;
}