.email-info {
    display: grid;
    gap: 1rem;
    grid-template-columns: auto auto;
}
.email-key {
    font-weight: bold;
    justify-self: end;
    align-self: center;
    text-wrap: nowrap;
}
.email-value {
    align-self: center;
}
.emails {
    display: flex;
    gap: .5rem;
}