.cards {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.email-details {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.email-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.emails-list {
    display: flex;
    gap: 1rem;
}
.emails {
    display: flex;
    gap: .5rem;
}