<form class="guard-form" [formGroup]="guardFormGroup" (ngSubmit)="addGuard()">
    <div class="activation-status">
        <div class="notify-option">
            <label for="is-active">Is active</label>
            <p-toggleswitch formControlName="isActive"></p-toggleswitch>
        </div>
    </div>
    <div>
        <p-floatlabel variant="on">
            <input fluid id="guard-name" type="text" pInputText formControlName="guardName" autocomplete="off">
            <label for="guard-name">Guard name</label>
        </p-floatlabel>
    </div>
    <div>
        <p-floatlabel variant="on">
            <textarea fluid id="guard-description" pTextarea formControlName="guardDescription"></textarea>
            <label for="guard-description">Guard description</label>
        </p-floatlabel>
    </div>
    <div>
        <p-floatlabel variant="on">
            <textarea fluid id="trigger-query" pTextarea formControlName="triggerQuery"></textarea>
            <label for="trigger-query">Trigger query</label>
        </p-floatlabel>
        <p-message variant="simple" size="small" severity="info">Required</p-message>
    </div>
    <div>
        <p-floatlabel variant="on">
            <input fluid type="text" id="count-column" formControlName="countColumn" pInputText autocomplete="off">
            <label for="count-column">Count column</label>
        </p-floatlabel>
        <p-message variant="simple" size="small" severity="info">Required</p-message>
    </div>
    <div>
        <p-floatlabel variant="on">
            <p-select appendTo="body" fluid id="trigger-operator" [options]="enumOptions"
                formControlName="triggerOperator"></p-select>
            <label for="trigger-operator">Trigger Operator</label>
        </p-floatlabel>
        <p-message variant="simple" size="small" severity="info">Required</p-message>
    </div>
    <div>
        <p-floatlabel variant="on">
            <p-inputnumber fluid id="trigger-value" formControlName="triggerValue"></p-inputnumber>
            <label for="trigger-value">Trigger value</label>
        </p-floatlabel>
        <p-message variant="simple" size="small" severity="info">Required</p-message>
    </div>
    <div >
        <div class="control-with-btn">
            <p-inputgroup>
                <p-floatlabel variant="on">
                    <p-select fluid appendTo="body" id="database-connection" formControlName="databaseConnection"
                        [options]="databaseConnections()" emptyMessage="No databases configured" >
                        <ng-template #selectedItem let-selectedOption>
                                <ul>
                                    <li><strong>Database type: </strong>{{ getEnumLabel(databaseEngine, selectedOption.databaseEngine) }}</li>
                                    <li><strong>Endpoint: </strong>{{ selectedOption.endpoint }}</li>
                                    <li><strong>Database name: </strong>{{ selectedOption.databaseName }}</li>
                                    @if (selectedOption.username) {
                                        <li><strong>Username: </strong>{{ selectedOption.username }}</li>
                                    }
                                </ul>
                        </ng-template>
                        <ng-template #item let-dbConnection>
                             <ul>
                                    <li><strong>Database type: </strong>{{ getEnumLabel(databaseEngine, dbConnection.databaseEngine) }}</li>
                                    <li><strong>Endpoint: </strong>{{ dbConnection.endpoint }}</li>
                                    <li><strong>Database name: </strong>{{ dbConnection.databaseName }}</li>
                                    @if (dbConnection.username) {
                                        <li><strong>Username: </strong>{{ dbConnection.username }}</li>
                                    }
                                </ul>
                        </ng-template>
                    </p-select>
                    <label for="database-connection">Database connection</label>
                </p-floatlabel>
                <p-inputgroup-addon>
                    <p-button (onClick)="addDatabaseConnection()" icon="pi pi-plus" [text]="true" pTooltip="Create a new database connection"></p-button>
                </p-inputgroup-addon>
            </p-inputgroup>

        </div>
        <p-message variant="simple" size="small" severity="info">Required</p-message>
    </div>
    <div>
        <p-floatlabel variant="on">
            <p-inputnumber fluid id="run-period" formControlName="runPeriodInMinutes" [showButtons]="true"></p-inputnumber>
            <label for="run-period">Run period (minutes)</label>
        </p-floatlabel>
        <p-message variant="simple" size="small" severity="info">Required</p-message>
    </div>
    <p-card header="Notifications">
        <app-create-notification-control formControlName="notifications"
            [notificationProviders]="notificationProviders()"></app-create-notification-control>
    </p-card>
    <div class="notify-options">
        <div class="notify-option">
            <label for="notify-on-clear">Notify on clear</label>
            <p-toggleswitch formControlName="notifyOnClear"></p-toggleswitch>
        </div>
        <div class="notify-option">
            <label for="notify-on-error">Notify on error</label>
            <p-toggleswitch formControlName="notifyOnError"></p-toggleswitch>
        </div>
        <div class="notify-option">
            <label for="notify-on-trigger">Notify on trigger</label>
            <p-toggleswitch formControlName="notifyOnTrigger"></p-toggleswitch>
        </div>
    </div>
    <div style="display: flex;gap:.5rem;">
        <label for="validate-guard">Validate guard:</label>
        <p-checkbox [binary]="true" inputId="validate-guard" formControlName="validateGuard" pTooltip="When selected it will ensure connection and query are valid"></p-checkbox>
    </div>
    <div class="bottom-btns">
        <p-button type="submit" [label]="guardToEdit() ? 'Save' : 'Add'" icon="pi pi-save" [rounded]="true" [disabled]="guardFormGroup.invalid"></p-button>
    </div>
</form>