<div class="cards">
    <p-card header="Change detail">
        <app-guard-change-detail-pane [changeHistoryDetail]="changeHistoryDetail()!"></app-guard-change-detail-pane>
    </p-card>
    <p-card>
        <app-guard-notification-transactions-table [guardChangeId]="changeHistoryId()!"></app-guard-notification-transactions-table>
    </p-card>
    @if (guardDetail()) {
        <p-card header="Guard current info">
            <app-guard-detail-pane [guardDetail]="guardDetail()!"></app-guard-detail-pane>
        </p-card>
    }
</div>