<div class="cards">
    <p-card header="Notification transaction">
        @if (loadingTransactions()) {
            <div class="loading-container">
                <p-progressspinner></p-progressspinner>
                <em>Loading notification transaction</em>
            </div>
        }
        @else {
            <app-notification-transaction-detail-pane
                [notificationTransactionDetails]="notificationTransactionInfo()!"></app-notification-transaction-detail-pane>
        }
    </p-card>
    <p-card header="Guard change">
        @if (loadingGuardChange()) {
            <div class="loading-container">
                <p-progressspinner></p-progressspinner>
                <em>Loading guard changes</em>
            </div>
        }
        @else {
            <app-guard-change-detail-pane [changeHistoryDetail]="guardChangeTransaction()!"></app-guard-change-detail-pane>
        }
    </p-card>
</div>