<div class="data-table">
    <p-table class="preview-table" #previewTable [lazy]="true" [lazyLoadOnInit]="true"
        (onLazyLoad)="loadPreviewData($event)" [showCurrentPageReport]="true"
        currentPageReportTemplate="{totalRecords} records across {totalPages} pages" [scrollable]="true"
        [value]="dataItems()" [showGridlines]="true" [resizableColumns]="true" sortMode="multiple"
        columnResizeMode="expand" [multiSortMeta]="defaultSort" [paginator]="true" [rows]="pageSize()"
        [rowsPerPageOptions]="pageSizeOptions" [stripedRows]="true" paginatorDropdownAppendTo="body"
        [totalRecords]="totalItems()" dataKey="id" [loading]="showSpinner()">
        <ng-template #header>
            <tr>
                <th>#</th>
                @for (column of columns; track $index) {
                @if (column.sortable) {
                <th pResizableColumn [pSortableColumn]="column.field" class="custom-view-header">
                    <div class="table-header-cell">
                        {{ column.header }}<p-sortIcon [field]="column.field" />
                    </div>
                </th>
                }
                @else {
                <th pResizableColumn class="custom-view-header">
                    <div class="table-header-cell">{{ column.header }}</div>
                </th>
                }
                }
            </tr>
            <tr>
                <th></th>
                @for (filter of filtersConfig; track $index) {
                <th>
                    <app-filter-item [filterConfig]="filter"
                        (filterValueChanged)="filtersChanged($event)"></app-filter-item>
                </th>
                }
            </tr>
        </ng-template>
        <ng-template #body let-notification let-rowIndex="rowIndex">
            <tr>
                <td>{{ rowIndex + 1 }}</td>
                <td><p-button [label]="notification.id" [link]="true"
                        [routerLink]="['/guards/notification-config-detail', notification.id]"></p-button></td>
                <td>
                    @if (notification.guardId) {
                    <p-button [label]="notification.guardId" [link]="true"
                        [routerLink]="['/guards/detail', notification.guardId]"></p-button>
                    }
                    @else {
                    <p-tag value="Deleted" severity="danger"></p-tag>
                    }
                </td>
                <td>{{ formatEnumKey(getEnumLabels(notificationType, notification.notificationType)) }}</td>
                <td>{{ notification.createDate | date: 'MM/dd/yyyy hh:mm:ss a' }}</td>
                <td>{{ notification.lastEdited | date: 'MM/dd/yyyy hh:mm:ss a' }}</td>
                <td>
                    <p-button [link]="true" [label]="notification.notificationProviderId"
                        [routerLink]="['/providers/detail', notification.notificationProviderId]"></p-button>
                </td>
                <td>
                    <p-button [label]="notification.createdByUsername" [link]="true"
                        [routerLink]="['/users/detail', notification.createdByUserId]"></p-button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>