@if(loadingUserInfo()){

}
@else {
    @if (userInfo()) {
        <div class="user-info">
            <span class="user-key">Id:</span>
            <span class="user-value">{{ userInfo()!.id }}</span>
            <span class="user-key">Username:</span>
            <div class="user-value">
                <div class="username-input">
                    @if (editingUsername()) {
                        <input [formControl]="usernameControl" type="text" pInputText fluid>
                    }
                    @else {
                        <span >{{ userInfo()!.username }}</span>
                    }
                    @if (editingUsername()) {
                        <p-button (onClick)="saveUsernameEdit()" [text]="true" icon="pi pi-check" severity="secondary" [disabled]="usernameControl.pristine"></p-button>
                        <p-button (onClick)="cancelUsernameEdit()" [text]="true" icon="pi pi-times" severity="secondary"></p-button>
                    }
                    @else {
                        <p-button (onClick)="editingUsername.set(true)" [text]="true" icon="pi pi-pencil" severity="secondary"></p-button>
                    }
                </div>
        
            </div>
            <span class="user-key">Roles:</span>
            <span class="user-value">
                <div class="role-info">
                    @for (role of userInfo()!.roles; track $index) {
                        <p-tag [value]="role" [rounded]="true"></p-tag>
                    }
                </div>
            </span>
        </div>
        <p-button [link]="true" (onClick)="changePassword()" label="Change password" [rounded]="true"></p-button>
    }
}