<div class="provider-info">
    <span class="provider-key">Id:</span>
    <span class="provider-value">
        <p-button [label]="providerDetails()!.id.toString()" [outlined]="true" severity="contrast"></p-button>
    </span>
    <span class="provider-key">Create date</span>
    <span class="provider-value">{{ providerDetails()?.createDate | date: 'mm/dd/yyyy hh:mm:ss a' }}</span>
    <span class="provider-key">Last edited</span>
    <span class="provider-value">{{ providerDetails()?.lastEdited | date: 'mm/dd/yyyy hh:mm:ss a'}}</span>
    <span class="provider-key">Notification type</span>
    <span class="provider-value">{{ getEnumLabel(notificationTypes, providerDetails()!.providerType) }}</span>
    <span class="provider-key">Created by</span>
    <span class="provider-value">
        <p-button [outlined]="true" severity="contrast" [label]="providerDetails()?.createdByUsername" [routerLink]="['/users/detail', providerDetails()?.createdByUserId]"></p-button>
    </span>
</div>
<p-divider></p-divider>
@switch (providerDetails()?.providerType) {
    <!-- Email provider -->
    @case (0) {
        <app-email-provider-detail-pane [emailProviderDetails]="emailProviderDetails()"></app-email-provider-detail-pane>
    }
}