.view-item {
    display: flex;
    justify-content: space-between;
    padding: 1.3rem;
}
.first-pane {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    gap: .6rem;
}
.first-top {
    display: flex;
    gap: .8rem;
    align-items: center;
}
.first-mid {
    display: grid;
    column-gap: 1rem;
    row-gap: .6rem;
    grid-template-columns: auto auto auto auto;
}
.first-bottom {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.second-pane {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}
.third-pane {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.third-top {
    display: flex;
    justify-content: end;
    align-content: center;
    gap: 1rem;
}
.third-bottom {
    align-items: end;
    justify-content: end;
}
.info {
    align-self: center;
}
.guard-link {
    font-size: large;
}
.query-sample {
    font-size: x-large;
}
.run-period {
    display: flex;
    flex-direction: column;
}
.inline-list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none; /* removes bullets */
  justify-content: end;
}

.inline-list li {
    display: flex;
    align-items: center;
    font-size: small;
    gap: .3rem;
    justify-content: center;
}
.inline-list li:not(:last-child)::after {
  content: "•";
  margin: 0 8px;
}
@media(max-width: 1700px){
    .view-item {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 2rem;
    }
    .first-mid {
        display: grid;
        column-gap: 1rem;
        grid-template-columns: auto auto;
    }
    .third-pane {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1rem;
    }
}
@media(max-width: 1200px){
    .inline-list {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
        list-style: none; /* removes bullets */
    }
    .inline-list li:not(:last-child)::after {
        content: "";
        margin: 0 8px;
    }
}
@media(max-width: 992px){
    .third-top {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-content: center;
        gap: 1rem;
    }

}