<p-table class="preview-table" #previewTable [lazy]="true" [lazyLoadOnInit]="true" (onLazyLoad)="loadPreviewData($event)"
    [showCurrentPageReport]="true" currentPageReportTemplate="{totalRecords} records across {totalPages} pages"
    [scrollable]="true" [value]="dataItems()" [showGridlines]="true" [resizableColumns]="true" sortMode="multiple"
    columnResizeMode="expand" [multiSortMeta]="defaultSort" [paginator]="true" [rows]="pageSize()"
    [rowsPerPageOptions]="pageSizeOptions" [stripedRows]="true" paginatorDropdownAppendTo="body"
    [totalRecords]="totalItems()" dataKey="id" [loading]="showSpinner()">
    <ng-template #header>
        <tr>
            <th>#</th>
            @for (column of columns; track $index) {
            @if (column.sortable) {
            <th pResizableColumn [pSortableColumn]="column.field" class="custom-view-header">
                <div class="table-header-cell">
                    {{ column.header }}<p-sortIcon [field]="column.field" />
                </div>
            </th>
            }
            @else {
            <th pResizableColumn class="custom-view-header">
                <div class="table-header-cell">{{ column.header }}</div>
            </th>
            }
            }
        </tr>
        <tr>
                <th></th>
                @for (filter of filtersConfig; track $index) {
                <th>
                    <app-filter-item [filterConfig]="filter" (filterValueChanged)="filtersChanged($event)"></app-filter-item>
                </th>
                }
            </tr>
    </ng-template>
    <ng-template #body let-guard let-rowIndex="rowIndex">
        <tr>
            <td>{{ rowIndex + 1 }}</td>
            <td>
                <p-button [label]="guard.id" [link]="true" [routerLink]="['/guards/detail', guard.id]"></p-button>
            </td>
            <td>{{ guard.guardName }}</td>
            <td>{{ guard.createDate | date: 'MM/dd/yyyy hh:mm:ss a' }}</td>
            <td>{{ guard.lastEditedDate | date: 'MM/dd/yyyy hh:mm:ss a' }}</td>
            <td>{{ guard.lastRun | date: 'MM/dd/yyyy hh:mm:ss a' }}</td>
            <td>
                <p-button [label]="guard.userName" [link]="true" [routerLink]="['/users/detail', guard.createdByUserId]"></p-button>
            </td>
            <td>{{ guard.countColumn }}</td>
            <td>{{ formatEnumKey(getEnumLabel(guardOperator, guard.triggerOperator)) }}</td>
            <td>{{ guard.triggerValue }}</td>
            <td><p-tag [value]="getEnumLabel(guardState, guard.guardState)" [severity]="getGuardStateSeverity(guard.guardState)"></p-tag></td>
            <td><p-tag [value]="guard.isActive ? 'Active' : 'Inactive'" [severity]="guard.isActive ? 'info': 'danger'"></p-tag></td>
            <td><p-tag [value]="guard.notifyOnClear ? 'Yes': 'No'" [severity]="guard.notifyOnClear ? 'info': 'danger'"></p-tag></td>
            <td><p-tag [value]="guard.notifyOnError ? 'Yes': 'No'" [severity]="guard.notifyOnError ? 'info': 'danger'"></p-tag></td>
            <td><p-tag [value]="guard.notifyOnTrigger ? 'Yes': 'No'" [severity]="guard.notifyOnTrigger ? 'info': 'danger'"></p-tag></td>
            <td>{{ guard.totalErrors }}</td>
            <td>{{ guard.totalTriggers }}</td>
            <td>{{ guard.runPeriodInMinutes }}</td>
            <td>
                <p-button [link]="true" [label]="guard.databaseConnectionId" [routerLink]="['/db-connections/dfetail', guard.databaseConnectionId]"></p-button>
            </td>
        </tr>
    </ng-template>
</p-table>