<p-menubar>
    <ng-template #start>
        <!-- Logo -->
        @if (!isMobile()) {
            <p-button [text]="true" [rounded]="true "><p-image src="logo.png" width="40px"></p-image></p-button>
        }
        <h1 style="margin: 0;">DBGuard</h1>

    </ng-template>
    <ng-template #end>
        <p-button [rounded]="true" severity="contrast" [outlined]="true" [label]="authService.loggedIn() ? 'logout' : 'login'" (onClick)="authService.logout()"></p-button>
    </ng-template>
</p-menubar>