<div class="sort-control">
    <p-inputgroup>
        <p-floatlabel variant="on">
            <p-select id="sort-select" [options]="sortOptions()" [(ngModel)]="sortOption" (onChange)="onFieldSortChanged()"></p-select>
            <label for="sort-select">Sort by</label>
        </p-floatlabel>
        <p-inputgroup-addon pTooltip="Toogle ascending descending">
            <p-button [link]="true" (onClick)="toggleSortDirection()" [icon]="getIcon()"></p-button>
        </p-inputgroup-addon>
    </p-inputgroup>
</div>