
<div class="cards">
    <p-card>
        <ng-template #header>
            <div class="header">
                <h1>{{ guardDetail()?.guardName ?? 'Unnamed' }}</h1>
                <p-buttongroup>
                    <p-confirmpopup></p-confirmpopup>
                    <p-button (onClick)="editGuardClicked()" label="Edit guard" icon="pi pi-pencil" [rounded]="true" [text]="true"></p-button>
                    <p-button (onClick)="onDeleteGuard($event)" label="Delete guard" icon="pi pi-trash" severity="danger" [rounded]="true"
                        [text]="true"></p-button>
                </p-buttongroup>
            </div>
        </ng-template>
        @if(showLoadingSpinner()){
            <div style="display: flex; flex-direction: column;align-items: center;justify-content: center;overflow: hidden;">
                <p-progressspinner>

                </p-progressspinner>
                <em style="text-align: center;">Loading details</em>
            </div>
        }
        @else {
            <div class="guard-info">
                <span class="guard-key">Id:</span>
                <span class="guard-value">{{ guardDetail()?.id }}</span>
                <span class="guard-key">Guard name: </span>
                <span class="guard-value">{{ guardDetail()?.guardName ?? 'Unnamed' }}</span>
                <span class="guard-key">Guard description:</span>
                <span class="guard-value">{{ guardDetail()?.guardDescription }}</span>
                <span class="guard-key">Create date:</span>
                <span class="guard-value">{{ guardDetail()?.createDate | date: 'MM/dd/yyyy hh:mm:ss a' }}</span>
                <span class="guard-key">Last run:</span>
                <span class="guard-value">{{ guardDetail()?.lastRun | date: 'MM/dd/yyyy hh:mm:ss a' }}</span>
                <span class="guard-key">Last edited:</span>
                <span class="guard-value">{{ guardDetail()?.lastEditedDate | date: 'MM/dd/yyyy hh:mm:ss a'}}</span>
                <span class="guard-key">Query:</span>
                <span class="guard-value">{{ guardDetail()?.triggerQuery }}</span>
                <span class="guard-key">Count column:</span>
                <span class="guard-value">{{ guardDetail()?.countColumn }}</span>
                <span class="guard-key">Trigger operator:</span>
                <span class="guard-value">{{ formatEnum(getEnumLabel(guardOperator, guardDetail()!.triggerOperator)) }}</span>
                <span class="guard-key">Trigger value:</span>
                <span class="guard-value">{{ guardDetail()?.triggerValue }}</span>
                <span class="guard-key">Guard state:</span>
                <p-tag class="guard-value" [severity]="getGuardStateSeverity(guardDetail()!.guardState)" [rounded]="true" [value]="formatEnum(getEnumLabel(guardState, guardDetail()!.guardState))"></p-tag>
                <span class="guard-key">Status:</span>
                <div>
                    <p-tag [value]="guardDetail()?.isActive ? 'Active' : 'Disabled'" [severity]="guardDetail()?.isActive ? 'info' : 'danger'"></p-tag>
                </div>
                <span class="guard-key">Run period in minutes</span>
                <span>{{ guardDetail()!.runPeriodInMinutes | formatRunPeriod}}</span>
                <span class="guard-key">Notify on clear:</span>
                <span class="guard-value">{{ guardDetail()?.notifyOnClear ? 'yes' : 'no' }}</span>
                <span class="guard-key">Notify on error:</span>
                <span class="guard-value">{{ guardDetail()?.notifyOnError ? 'yes' : 'no' }}</span>
                <span class="guard-key">Notify on trigger:</span>
                <span class="guard-value">{{ guardDetail()?.notifyOnTrigger ? 'yes' : 'no' }}</span>
                <span class="guard-key">Total errors:</span>
                <span class="guard-value">{{ guardDetail()?.totalErrors }}</span>
                <span class="guard-key">Total triggers:</span>
                <span class="guard-value">{{ guardDetail()?.totalTriggers }}</span>
                <span class="guard-key">Created by:</span>
                <a class="guard-value" href="">{{ guardDetail()?.userName }}</a>
    
            </div>
        }
    </p-card>
    <p-card>
        <app-guard-db-connection-preview [guardId]="guardId()!"></app-guard-db-connection-preview>
    </p-card>
    <p-card>
        <app-guard-configured-notifications [guardId]="guardId()!"></app-guard-configured-notifications>
    </p-card>
    <p-card>
        <app-guard-transaction-preview [guardId]="guardId()!"></app-guard-transaction-preview>
    </p-card>
    <p-card>
        <app-guard-notification-transactions-preview [guardId]="guardId()!"></app-guard-notification-transactions-preview>
    </p-card>

</div>
