<p-confirmpopup></p-confirmpopup>
<div class="cards">
    <p-card>
        <ng-template #header>
            <div class="header">
                <h3>User details</h3>
                <p-buttongroup>
                    <p-button (onClick)="editUser()" label="Edit" [text]="true" icon="pi pi-pencil"></p-button>
                    <p-button (onClick)="deleteUserClicked($event)" label="Delete" [text]="true" icon="pi pi-trash" severity="danger"></p-button>
                </p-buttongroup>
            </div>
        </ng-template>
        <app-user-details-pane [userId]="userId()!"></app-user-details-pane>
    </p-card>
    <p-card header="Created guards">
        <app-guards-detail-table [userId]="userId()!"></app-guards-detail-table>
    </p-card>
    <p-card header="Created database connections">
        <app-db-connections-table [createdByUserId]="userId()!"></app-db-connections-table>
    </p-card>
    <p-card header="Created notification providers">
        <app-notification-providers-table [createdByUserId]="userId()!"></app-notification-providers-table>
    </p-card>
</div>